/* Extra small devices (portrait phones, less than 576px) */

.cv_header {
  display: flex;
  width: 100%;
  background-color: var(--card-bg-color);
  transition: all 0.3s ease;
  line-height: 1.2;
}

.cv__header__column1,
.cv__header__column2 {
  padding-bottom: 0.5rem;
  float: left;
  width: 100%;
}

.row:after {
  content: '';
  display: table;
  clear: both;
}

h3 {
  font-size: clamp(1rem, calc(-0.875rem + 8.333333vw), 1.3rem);
  //  font-size: calc(16px + (36 - 16) * ((100vw - 320px) / (2560 - 320)));
}

.cv__header__heading {
  font-size: 1.4rem;
  color: var(--primary-heading-color);
  font-weight: 600;
  margin: 0;
  .c {
    color: #ffa800;
    color: #07c5ef;
    color: #bd0a0a;
    color: #0bd48c;
    color: #1a1b1a;
    color: #1d1f1f;
    color: #252121;
    color: #424546;
    color: #8bc540;
    color: #9c7a28;
    color: #e2ae2b;
    color: #d88500;
    color: #32a4cd;
  }
}

.cv__header__subheading {
  font-size: 1.2rem;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.cv__header__summary {
  margin: 0 0 0.5rem 0;
  padding: 0.1rem 0 0 0;
}

/* Small devices (landscape phones, 568px and up) */
@media (min-width: 568px) {
  .bold {
    font-weight: bold;
  }
  .cv__header__column2 {
    padding-left: 1rem;
  }
  .cv__header__column1 {
    width: 32%;
  }
  .cv__header__column2 {
    width: 68%;
  }
}

@media print {
  .cv {
    background-color: #fff;
    box-shadow: none;
    border-radius: 0;
  }

  .cv__header__subheading {
    font-size: 1.3rem;
    margin: 0;
    padding: 0;
  }

  .cv__header__summary {
    margin: 0;
    padding: 0.4rem 0 0 0;
    margin-bottom: 0.4rem;
  }
}
